<% provide(:title,'About') %>
<h1>About Us</h1>
<p>I thought about making this serious, then gave up.<p>
<p>This page is supposed to contain information about us, but SCRREWRTJAHAT</p>
<p>Typing in console is kinda annoying, cause you get hard to fix typo's like that</p>
<p>Attempting to create a new line: \n </br> test </p>
<a href="/static_pages/home">Go back to home</a>
