<% provide(:title,'Home') %>
<h1>Home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>TEACH ME, TEACH ME HOW TO PASS WOO WOO</p>
<p>I need one of the following: "Sample" "sample" "SAMPLE"</p>
